.footer {
  background-color: $color-primary;
  color: $color-white;;
  padding: 5rem 3%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__widget {
    font-size: 6rem;
    cursor: pointer;
  }

  @media (min-width: 568px) {
    &__widget {
      &:not(:last-child){
        margin-right: 1.6rem;
      };
    }
  }

  @media (min-width: 992px) {
    padding: 5rem 12.5%;
  }
}
